<section  [ngClass]="this.theme.type==='Light' ? 'light-container': 'dark-container'" class="container-todo" >
    <header class="container-header">
        <h1 class="header-text">TODO</h1>

        <i class="icon-theme" (click) = "this.toggleTheme()">	
            {{this.theme.symbol}}</i>
        
        <!-- <span class="icon-theme"></span> -->
    </header>
    <section class="container-addTask" [ngClass]="this.theme.type==='Light' ? 'light': 'dark'">
        <new-task/>
    </section>

        <section class="container-addTask example-container " [ngClass]="this.theme.type==='Light' ? 'light': 'dark'">
            <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">

                @for (item of items; track item.id){

                    <task  [task]="item" cdkDrag/>
                }
                </div>
        </section>
         
        <!-- <section  class="container-taskList" [ngClass]="this.theme.type==='Light' ? 'light': 'dark'">
            <task/>
            <task/>
        </section>    -->
        <section class=" container-filter" [ngClass]="this.theme.type==='Light' ? 'light': 'dark'">
            Add Filter Section
        </section>

    <div>
        <p> Drag and drop to recorder list</p>
    </div>
</section>