
<div class="task-item">
  <button class="button-complete" (click)="onComplete(task!.id)" id="buttonTransitionComplete">
    @if (task?.isComplete==true){
      <div class="check">

        <img src="../../images/icon-check.svg" alt="">
      </div>
      <!-- <svg class="svg">
        <circle cx="8" cy="8" r="5" stroke="grey" stroke-width=".5" fill="transparent" />
      </svg>    -->
    }
    @else {
      <div class="circle">
       
      </div>   
    }
 
    
  </button>
  <p class="task">{{task?.title}}</p>
  <button class="button-delete" (click)="onDelete(task!.id)" id="buttonTransitionDelete"  >
    <img src="../../images/icon-cross.svg" alt="">
  </button>
</div>