/* You can add global styles to this file, and also import other style files */
:root {

    /* Primary Colors */
    --main-primary-brightBlue: hsl(220, 98%, 61%);
    --background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
    /* Light Thene */
    --light-bg-gray:  hsl(0, 0%, 98%);
    --light-blueGray-1:  hsl(236, 33%, 92%);
    --light-blueGray-2:   hsl(233, 11%, 84%);
    --light-txt-blueGray-3: hsl(236, 9%, 61%);
    --light-blueGray-4: hsl(235, 19%, 35%);
    /* Dark Thene */
    --dark-bg-darkBlue:hsl(235, 21%, 11%);
    --dark-veryDarkBlue: hsl(235, 24%, 19%);
    --dark-lightGrayBlue: hsl(234, 39%, 85%);
    --dark-darkGreyBlue1: hsl(236, 33%, 92%);
    --dark-darkGreyBlue2: hsl(234, 11%, 52%);
    --dark-darkGreyBlue3: hsl(233, 14%, 35%);
    --dark-darkGreyBlue4: hsl(237, 14%, 26%);
    --font-size: 18px;
}
  /*Mixin*/



  *{
    padding:  0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif
  }


.container-app{
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  color:white;
  
}
.footer-section{
  padding: 1em 0;
  font-size: 12px;
  text-align: center;
}
.container-todo{
  height: 700px;
 /* border:3px solid purple;  */
 padding: 2em;
 
}
.container-header{
  /* border:3px solid white; */
  display: flex;
  justify-content: space-between;
}
.header-text{
  color: var(--main-light-gray);
  font-weight: 700;
  letter-spacing: 12px;
  font-size: 22px;
}
.container-main{

  border:3px solid white;
}

.icon-theme{
  font-size:18px; 
  font-weight: 700;

}
.container-addTask, .container-taskList, .container-filter{
border-radius: 4px;
margin: 1.5em 0 ;
}


/* new Task */ 
.task-new-container{
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
  border-radius: 2px;
  height: 40px;
  width: 320px;
  padding: 1em;
  margin: 1em 0;
}
/* */
.task-item{
  border-bottom: 1px solid var(--main-dark-darkGreyBlue1);
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1em;
  /* border:2px solid blue; */
  border-bottom: .02em solid var(--dark-darkGreyBlue2);
}
.task{
  /* border: 1px solid white; */
  width: 70%;
}
br{
  border-bottom:1px dashed white;
}

.icon-container{
  color:transparent;

}

.svg{
  display: block;
  height:18px;
  width: 20px;
  /* border:2px solid blue; */
}


input{
  font-size: 12px;
  outline: none;
  background: transparent;
  border: none;
  /* border:2px solid blue; */
  display: block;
}

input::placeholder {
  font-size: 12px;
  font-weight: 500;
  opacity: 0.5;

 
}


/*Themes*/

.light-container{
  background-image: url('./images/bg-desktop-light.jpg');
  background-image: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-size:  100% 20%;
  background-color: var(--light-bg-gray);
}
.dark-container{
  background-image: url('./images/bg-desktop-dark.jpg');
  background-image: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-size:  100% 20%;
  background-color:var(--dark-bg-darkBlue);
}

.light{
  background-color:  white;
  color: var(--light-txt-blueGray-3);
}
.dark{
  background-color: var(--dark-veryDarkBlue);
  color: var(--dark-lightGrayBlue);
}


